.DS_Store
/vendor/
/build/
/composer.phar
/phpunit.phar
/phpunit.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries/
/.idea/dataSources/
/.idea/dataSources.local.xml
/.vagrant/
/*.log
/.php_cs.cache
/.php_cs
/maintenance
/version
/.env
